.ingredient{
    
    .sprite{
        background-color:#0f0;
        position: absolute;
        width: 8vh;
        height: 8vh;
        left: 0px;
    }
    
    .used{
        color: #ccc;
        text-decoration:line-through;
        transition: 1s linear all;
    }
    margin: 5px;
    position: relative;
}

#broccoli {
    background-size: 80px 60px;
    background-repeat: no-repeat;
    background: url("~./../../resource/sprite.png");
    //background: url('../../resource/sprite.png') 0 0;
}

/*@keyframes flash {
	50% { left: -110px; }
}*/