.ingredient{
    
    margin: 5px;
    position: relative;
    
    .used{
        color: #ccc;
        text-decoration:line-through;
        transition: 1s linear all;
    }
}

.sprite{
    background-image: url('http://andreascarlson.se/img/sprite.png');
    position: absolute;
    width: 256px;
    height: 256px;
    left: 0;
    top: 0;
    transform: scale(0.2);
    transform-origin: 0 0;
}

#oil, #soy, #chili {
     background-position: -256px 0;
}

#broccoli {
    background-position: -512px 0;
}

#lentils {
    background-position: -768px 0;
}

#onion {
    background-position: 0 -256px;
}